<div class="container">

<p>
  I started programming in 2010, when i went into university and have been programming neary every day since. I love studying new things, learning new technology, meeting new people and keeping things fresh. I try to do my utmost best, to make sure that I wont become comfortable. I want to keep myself young and eager.
</p>

<p>
  I am studying both CS and economics in university, which I believe will enable me to help create both awesome and profitable technology. In the long term I want to build a cool startup from ground up and give back to the Internet community that has given to me so much.
</p>

<p>
  My technological package consists of: <br/>
  Python since 2010 <br/>
  SQL since 2010 <br/>
  Java since 2011 <br/>
  Javascript since 2011 <br/>
  C++ since 2012 <br/>
  .NET and C# since 2012 <br/>
  Ruby and Rails since 2014 <br/>
  I have looked and written in other languages aswell(C, Assembler, etc), but these are the languages i have put more than a few days in and feel comfortable saying that i know them. I am confident that i can learn any language needed in a short span of time. <br/>
  I have worked with many technologies, among which, SharePoint, TomCat, Google App Engine, Cisco Routers, MSSQL, etc
</p>

<p>
  Employement history:
  <br/>
  <%= link_to "Nortal", "http://www.nortal.ee/" %> - Sharepoint and .NET developer from 2012-2014.
  <br/>
  <%= link_to "Domus Dorpatensis", "http://www.dorpatensis.ee/et" %> - volunteer in 2013 and helped to organize the TEDxTartu 2013
  <br/>
  <%= link_to "Logica(CGI)", "http://www.cgi.ee/" %> - tester in 2011.
  <br/>
</p>

<p>
Summer jobs before University: <br/>
<%= link_to "Uno pizza", "http://unokebab.ee/" %>, <%= link_to "Grillhaus Daube", "http://www.daube.ee/" %>, driver, construction helper, among other things.
</p>

</div>
