<div class="container">

<p>
  <%= link_to "Estcube-1", "http://www.estcube.eu" %> is the Estonian very first space satellite. Its official mission was to find out weather the solar winds could help in making space travel cheaper and more efficient, but the main objective has always been to improve Estonian education by bringing space tech to this tiny little country. My task was to program the ground station, which routed commands between the satellite and web interface.
</p>

<p>
 <%= link_to "MKMF(Master Key management Facility)", "http://www.spaceops2012.org/proceedings/documents/id1269491-Paper-002.pdf" %> was developed by <%= link_to "Logica(now named CGI)", "http://www.cgi.ee/" %> and is a program which generates and manages keys that are used for spacecraft and groundstation communication encryption. It used <%= link_to "Quantis true random number generator device", "http://www.idquantique.com/component/content/article.html?id=9" %>  for creating unpredictable salt. I was in charge of the product testing and quality.
</p>

<p>
  <%= link_to "Nortal ECM", "http://www.nortal.com/what-we-do/expertise/enterprise-content-management" %> built upon SharePoint and with powerful features. It is extendible to multiple clients and has its own database engine called FlairPoint to take the heavy lifting off of SharePoint. This has a number of benefits - making it more reliable, flexible and faster. I was a programmer and worked on it for more than a year and a half. I dealt with almost everything from backend to frontend.
</p>

<p>
  <%= link_to "LetsVote", "https://bitbucket.org/stenver/demclicks" %> was a startup project that would have let teachers create live questionnaires in classes and students could use their laptops, phones, tablets etc to answer them. The project fell apart at one point after i got too busy and i decided to open source it, should anyone be interested in the source. Its built with spring MVC and was an invaluable learning experience for me about Startups, Teamwork, Spring and time management.
</p>

<p>
  <%= link_to "Estonian Informatics Olympiad 2013", "https://bitbucket.org/stenver/estonian-informatics-olympiad" %>, of which i took part on University level. You couldnt go forward to anywhere from the University level, so i wasnt out to win the competition, but rather i was just having fun with interesting assignements. Nevertheless, i got the second place and had fun with C++.
</p>

<p>
  <%= link_to "Wilcoxon Signed-Rank test", "https://bitbucket.org/stenver/wilxoni-astaku-test" %> is my Bachelor thesis and is currently a work in progress. Its a C++ implementation of the <%= link_to "Wilcoxon", "http://en.wikipedia.org/wiki/Wilcoxon_signed-rank_test" %> statistical algorithm with R integration and it must be faster and more accurate then the current implementations.
</p>

<p>
  <%= link_to "Battleship game", "http://masiisteen.appspot.com/mang.html" %> was an university project in one subject. Unfortunately, we didnt use version control system so the newest version of the game is lost as we didnt upload it to the google app engine. In the final version, you could play over the web with your friend, it had a lobby and it felt like a true battleship game. A shame really that i let the code to dissappear like that. Keep in mind that this is a second year university project, should you look at the source.
</p>

<p>
  <%= link_to "This page", "https://github.com/stenver/stenverhome" %> is my attempt to learn Ruby and Rails. Besides the obvious, im also building a functionality in it to help me and my friends play D&D.
</p>

</div>
